.shit {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.askme {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.askme input {
  width: 300px;
  border: none;
  outline: none;
  padding: 10px 15px;
  position: absolute;
  top: 20%;
  left: 20%;
  border-bottom: 1px solid rgb(151, 149, 149);
}

.questions {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 35%;
  left: 20%;
}

.questions:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 55%;
  left: 20%;
}

.questions:nth-of-type(3) {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 77%;
  left: 20%;
}

.questions h3 {
  font-size: 20px;
}

.top-section {
  display: flex;
  margin-bottom: 10px;
}
.top-section img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.top-section h4 {
  font-size: 16px;
  position: absolute;
  top: 8%;
  left: 7%;
  color: gray;
  font-weight: 400;
  margin-left: 3rem;
}

.socials span {
  font-size: 13px;
  margin: 0 10px;
  cursor: pointer;
}

.like {
  color: #198754;
  font-weight: bold;
}

small {
  color: #198754;
  font-weight: bold;
}
